[Unit]
Description=Awsso agent server

[Service]
ExecStart=/home/psanford/bin/awsso server
Environment=BROWSER=/home/psanford/bin/xdg-open

[Install]
WantedBy=default.target
