[Unit]
Description=Awsso agent server
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/home/psanford/bin/awsso server

[Install]
WantedBy=graphical-session.target
